.container {
    border: 1px solid black;
}

.title {
    border: 1px solid green;
}

.photoContainer {
    border: 1px solid orange;
}

.photo {
    border: 1px solid orange;
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 10px;
}

